<p>residences works!</p>
<h1>{{ title }}</h1>
<!--nzido haja esmha directive-->
<table>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Name</th>
    <th [hidden]="hide">Address</th>
    <th>Status</th>
  </tr>
  <tr *ngFor="let element of residences">
    <td><img [src]="element.image" width="50" height="50" /></td>
    <td>{{ element.id }}</td>
    <td>{{ element.name }}</td>
    <!--<td [hidden]="hide && element.id == selectedResidence">{{ element.address }}</td>-->
    <td>{{ element.status }}</td>
    <td><button (click)="showAddress(element)">Show Address</button></td>
    <!--syntax ta ngfor ;boucle yemchi ll tablue elemt 1,2,3, naadi table aal ngfor yji yhez ligne loula ykml aaleha traimtine il suffit kmlt tarjaa in other words for each-->
  </tr>
</table>
<div *ngIf="hide && selectedResidence.address != 'inconnu'">
  {{ selectedResidence.address }}
</div>
<div *ngIf="hide && selectedResidence.address == 'inconnu'">
  <p>Address not available</p>
</div>
